<div class="page-header">
<h1><small>Search results for</small> {{ query }}</h1>
</div>

<span class="nb-result">{{ totalCount }} results found: </span>

<ul>
{% for item in searchResults %}
	<div class='item-result item {{ item._source.type }}'>
		<div class='className'><a href="{{ constant('ROOT_URL') }}{{ (item._source.type == 'package')?'package?name='~item._source.name|url_encode:'class?q='~item._source.name |url_encode}}">{{ item._source.name }}</a></div>
	</div>
{% else %}
<li>No class / interface / trait / package with name "{{ query }}"!</li>
{% endfor %}
</ul>


{% if nbPages != 0 %}
<ul class="pagination">

	{% if page != 0 %}
	<li><a href="search?q={{ query | url_encode }}&page={{ page-1 }}">&laquo;</a></li>
	{% endif %}

	{% for i in 0..nbPages %}
	<li {% if i == page %}class="active"{% endif %}>
		<a href="search?q={{ query | url_encode }}&page={{ i }}">{{ i+1 }}</a>
	</li>
	{% endfor %}

	{% if page != nbPages %}
	<li><a href="search?q={{ query | url_encode }}&page={{ page+1 }}">&raquo;</a></li>
	{% endif %}

</ul>
{% endif %}
