<div class="page-header">
<h1><small>Analyzing {{ type }}</small> {{ class }}</h1>
</div>

{% if description %}
<h2>Description</h2>
<div class="well">
<div class="description">{{ description | raw }}</div>
</div>
{% endif %}

{% if sourceUrl %}
<a href="{{ sourceUrl }}">View source on Github</a>
{% endif %}

<h2>Known implementations</h2>

{{ toHtml(graph) }}

<h2>Implement / Extends</h2>

<ul class='classgraph'>
{{ toHtml(inheritNodes) }}
</ul>