<div class="page-header">
    {% if sourceUrl %}
        <a href="{{ sourceUrl }}" target="_blank" class="btn btn-default githublink pull-right">View source on Github</a>
    {% endif %}
    <h1><small>Analyzing {{ type }}</small> {{ class }}</h1>

</div>

{% if inheritLimit %}
<div class="alert alert-info">There are more than 10000 classes inheriting '{{ class }}'.
Displaying first 10000 results.</div>
{% endif %}

{% if description %}
    <h2>Description</h2>
    <div class="well">
        <div class="description">{{ description | raw }}</div>
    </div>
{% endif %}


<h2>Type hierarchy</h2>

{{ inheritNodesHtml|raw }}

<h2>{{ type | capitalize }} usage:</h2>

{% if usedInItems.hasNext() %}

    This {{ type }} is used in:

    <table class="table table-striped table-condensed">
        <tr>
            <th>Class</th>
            <th>Package</th>
        </tr>
        {% for item in usedInItems %}
            <tr>
                <td class="className"><a href="class?q={{ item.name | url_encode }}">{{ item.name }}</a></td>
                <td>
                    <div class='package small'>
                        {{ item.packageName }}
                        <span class="versions">
		<span class="version badge"><a href="{{ constant("ROOT_URL") }}package?name={{ item.packageName }}&version={{ item.packageVersion }}">{{ item.packageVersion }}</a></span>
		</span><div class="clearfix"></div>
                    </div>

                </td>
            </tr>
        {% endfor %}
        {% if usedInItems.count() == 1000  %}
            <tr>
                <td>And many more....</td>
                <td></td>
            </tr>
        {% endif %}
    </table>
{% else %}
    This {{ type }} is not referred by any other class/interface/traits in packagist packages.
{% endif %}