<div class="page-header">
<h1><small>Package</small> {{ package.packageName }} <small>({{ package.packageVersion }})</small></h1>
</div>

<div class="description">{{ package.description }}</div>

{% if otherVersions %}
<p>
<b>Other packages versions: </b>
{% for otherVersion in otherVersions %}
<span class="badge"><a href="{{ constant('ROOT_URL') }}package?name={{ package.packageName | url_encode }}&version={{ otherVersion | url_encode }}">{{ otherVersion }}</a></span>
{% endfor %}
</p>
{% endif %}

<p><a href="http://packagist.org/packages/{{ package.packageName }}">View on Packagist</a></p>

<h2>Declared items in this package</h2>

<ul>
{% for item in itemsList  %}
	<div class='item {{ item.type }}'>
		<div class='className'><a href="{{ constant('ROOT_URL') }}class?q={{ item.name }}">{{ item.name }}</a></div>
	</div>
{% else %}
<li>No class / interface / trait found in this package!</li>
{% endfor %}
</ul>