{% if children %}
{% for child in this.getChildrenSortedByScore()  %}
	{{ child.getHtmlRevert() | raw }}
{% endfor %}
{% endif %}

{% if children %}
{# FIXME: getDepth doit etre fait par rapport au max de l'arbre global, pas de l'arbre courant! #}
{% for i in 1..this.getRevertDepth() %}
<div class="pad {{ loop.last?"arrow":"" }}">
{% endfor %}
{% endif %}

{% if not replacementNode %}
	<div class='item {{ type }}'>
		<div class='className'><a href="class?q={{ name | url_encode }}">{{ name }}</a>
		{% spaceless %}
		<div class="stars-container">
		{% if this.getNbStars() %}
		{% for i in 1..this.getNbStars() %}
		<span class="glyphicon glyphicon-star"></span>
		{% endfor %}
		{% endif %}
		</div>
		{% endspaceless %}
		</div>
		{% for packageName, versions in this.getImportantPackages() %}
		<div class='package small'>
		{{ packageName }}
		<span class="versions">
		{% for version in versions%}
		<span class="version badge"><a href="{{ constant("ROOT_URL") }}package?name={{ packageName }}&version={{ version }}">{{ version }}</a></span>
		{% endfor %}
		</span>
		</div>
		{% endfor %}
		
		{% if this.getNotImportantPackages()  %}
		<div class="otherpackagescontainer">
			<a class="otherpackageslink" href="#">View more packages</a>
			<div class="otherpackages"> 
				{% for packageName, versions in this.getNotImportantPackages() %}
				<div class='package small'>
				{{ packageName }}
				<span class="versions">
				{% for version in versions%}
				<span class="version badge"><a href="{{ constant("ROOT_URL") }}package?name={{ packageName }}&version={{ version }}">{{ version }}</a></span>
				{% endfor %}
				</span>
				</div>
				{% endfor %}
			</div>
		</div>
		{% endif %}
		
		
	</div>
{% else %}
	{{ toHtml(replacementNode) }}
{% endif %}

{% if children %}
{% for i in 1..this.getRevertDepth() %}
</div>
{% endfor %}
{% endif %}