<li>
	<div class='item {{ type }}'>
		<div class='className'><a href="class?q={{ name | url_encode }}">{{ name }}</a></div>
		{% for packageName, versions in packages  %}
		<div class='package small'>
		{{ packageName }}
		<span class="versions">
		{% for version in versions%}
		<span class="version badge"><a href="{{ constant("ROOT_URL") }}package?name={{ packageName }}&version={{ version }}">{{ version }}</a></span>
		{% endfor %}
		</span>
		</div>
		{% endfor %}
	</div>
	{% if children %}
	<ul>
	{% for child in children  %}
		{{ toHtml(child) }}
	{% endfor %}
	</ul>
	{% endif %}
</li>
